body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-div-icon .marker-pin {
    width: 30px;
    height: 50px;
    background-size: cover;
}

.custom-div-icon .marker-number {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.custom-marker .marker-icon {
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* Modaalin perustyylit */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 15%);
}

/* Modaalin sisältö */
.modal-content {
	position: relative;
	background-color: #fefefe;
	padding: 20px;
	top: 40%;
	margin: 0px 30% 0 30%;
	border-width: 0;
	border-radius: 0.7rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* Sulje-nappi */
.close {
	position: relative;
	top: -20px;
	right: -12px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Salasana input */
input[type=password] {
    width: -webkit-fill-available;
    padding: 7px 20px;
    margin: 10px 0px;
    display: inline-block;
    border-width: 0;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    font-size: 20px;
}

h1 {
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 0;
}

#passwordButton {
    position: relative;
    font-size: large;
    border-radius: 0.6rem;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
    margin-top: 10px;
}

.heading-icon {
    transform-origin: center;
}

.marker-icon {
    transform-origin: center !important;
	width: 24px !important;
	height: 24px !important;
	margin-left: -12px !important;
    margin-top: -12px !important;
}

#removeMarkersButton {
    display: block;
    position: absolute;
    top: 10px;
    left: 388px;
    background-color: #df1200;
    color: white;
    font-weight: normal;
    font-family: calibri;
    font-size: medium;
    height: 2.75em;
    z-index: 2000;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    padding: 7pt;
    cursor: pointer;
}

#removeMarkersButton:hover{
    background-color: #9b0d00;
	color: white;
}

#layerControl {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;  /* Asetetaan korkea z-indeksi varmistaaksemme, että se näkyy muiden elementtien päällä */
}

#map {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0);
    cursor: auto;
}

.resultItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    column-width: 10px;
    width: 100%;
    text-align: left;
}

.resultItem:hover {
    background-color: #ccc;
}

.result:hover {
    background-color: rgb(54 142 233 / 22%);
}

.active-result {
    background-color: rgb(54 142 233 / 22%);
}

p {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: unset;
    text-align: center;
    background-color: #00000017;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 10%;
}

td {
    display: table-cell;
    vertical-align: inherit;
    padding-left: 10px;
}

.searchContainer {
    position: absolute;
    z-index: 1000;
    top: 0.6em;
    left: 4em;
    overflow: hidden;
    width: 20em;
    top: 10px;
    border-radius: 10px;
    border-width: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.searchBox {
    display: flex;
    align-items: center;
    background-color: white;
    height: 2.5em;
    border-width: 0px;
    background-clip: padding-box;
}

#searchInput {
    padding-left: 1em;
    border: none;
    flex-grow: 1;
    border-radius: 2em 0 0 2em;
}

#searchButton {
    background: white;
    border: none;
    cursor: pointer;
    padding-right: 6pt;
    padding-top: 2pt;
    border-radius: 0 2em 2em 0;
    font-size: 12pt;
}

#toggleView {
    position: absolute;
    z-index: 2000;
    top: 80px;
    left: 10px;
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border-width: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    padding: 3pt 3pt 3pt 3pt;
    cursor: pointer;
}

#toggleView:hover {
    background-color: #eeeeee;
}

#locateUser {
    position: absolute;
    z-index: 1000;
    top: 156px;
    left: 10px;
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border-width: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    padding: 3pt 3pt 3pt 3pt;
    cursor: pointer;
}

#locateUser:hover {
    background-color: #eeeeee;
}

.locate-button {
    background: none;
    border: none;
    cursor: pointer;
}

.locate-button img {
    width: 30px;
    height: 30px;
}

.magnifier-icon {
    color: black;
    cursor: pointer;
}

#searchButton .close-icon {
    position: relative;
    color: black;
    font-weight: bold;
    bottom: 3pt;
}

#results {
    z-index: 1001;
    width: 100%;
    font-family: calibri;
    display: none;
    background-color: white;
	max-height: 90vh;
    overflow: auto
}

#searchInput {
    border: 0px solid #0099FF;
    outline: none;               
    box-shadow: 0 0 0px rgba(0, 153, 255, 0.5);
}

.leaflet-tooltip::before {
    border: none !important;
    background-color: transparent !important;
}

.tooltip-gm {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: black !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.tooltip-satellite {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: white !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.leaflet-tooltip.rataosat {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  padding: 6px !important;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4) !important;
}

.leaflet-tooltip.rataosat::before {
  border-top-color: #fff;
}

.leaflet-tooltip.rataosat:hover {
  background-color: #f8f8f8;
}

.rataosat.leaflet-interactive {
	stroke: rgb(51, 136, 255);
    stroke-opacity: 1;
    stroke-width: 3;
    fill: rgb(51, 136, 255);
    fill-opacity: 0.2;
	z-index: 2;
}

.rataosat.leaflet-interactive:hover {
	stroke: #5eff00;
    stroke-opacity: 1;
    stroke-width: 3;
    fill: #5eff00;
    fill-opacity: 0.2;
}

.radat.leaflet-interactive {
	stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 2;
	z-index: 2;
}

.radat.leaflet-interactive:hover {
	stroke: black;
    stroke-opacity: 1;
    stroke-width: 4;
	z-index: 2;
}

.leaflet-tooltip.kayttokeskusalueet {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  padding: 6px !important;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4) !important;
}

.leaflet-tooltip.kayttokeskusalueet::before {
  border-top-color: #fff;
}

.leaflet-tooltip.kayttokeskusalueet:hover {
  background-color: #f8f8f8;
}

.custom-tooltip {
  z-index: 1000 !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  padding: 6px !important;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4) !important;
  margin-top: -3px !important;
}

#menuContainer {
    position: absolute;
    top: 118px;
    left: 10px;
    z-index: 1001;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

#menuButton {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

#menuButton:hover {
    background-color: #eeeeee;
}

#menuContent {
    position: relative;
    margin-top: 5px;
    padding: 0px 5px 3px 5px;
}

.collapsible {
  background: white;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  display: none;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.collapsible:hover {
  background-color: #ccc;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.collapsible:after {
  content: '\25B2';
  font-size: 13px;
  color: black;
}

.active:after {
  content: '\25BC';
}

.content {
  display: block;
  overflow: hidden;
}

.resultbox {
  display: flex;
  flex-direction: column-reverse;
}


@media (max-width: 900px) {
.tooltip-gm {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: black !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}

.tooltip-satellite {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
	font-weight: bold !important;
	font-size: 15px !important;
	color: white !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
	
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 15%);
}

/* Modaalin sisältö */
.modal-content {
	position: relative;
	background-color: #fefefe;
	padding: 20px;
	top: 40%;
	margin: 0px 10% 0 10%;
	border-width: 0;
	border-radius: 0.7rem;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

/* Sulje-nappi */
.close {
	position: relative;
	top: -20px;
	right: -12px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Salasana input */
input[type=password] {
    width: -webkit-fill-available;
    padding: 8px 20px;
    margin-top: 0;
    display: inline-block;
    border-width: 0;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    font-size: 15px;
}

h1 {
    font-size: medium;
    margin-bottom: 5px;
    margin-left: 2px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: unset;
    text-align: center;
    background-color: #00000017;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0px 6px 0 6px;
    width: 12%;
}

#passwordButton {
    position: relative;
	color: black;
    font-size: medium;
    border-radius: 0.6rem;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    padding: 6px 10px 5px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    display: none;
}

.searchContainer {
    position: absolute;
    z-index: 1000;
    top: 1em;
    left: 0;
    margin-left: 3.5em;
    margin-right: 3.5em;
    overflow: auto;
    border-radius: 10px;
    border: 0;
    width: -webkit-fill-available;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.searchBox {
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: white;
    height: 2.5em;
}

#searchInput {
    padding-left: 1em;
    border: none;
    flex-grow: 1;
    border-radius: 2em 0 0 2em;
	font-size: 16px;
}

#searchButton {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0 8px 0px 0;
    border-radius: 0 2em 2em 0;
}

#results {
    z-index: 1001;
    width: 100%;
    font-family: calibri;
    background-color: white;
    max-height: 168pt;
    overflow: auto;
}

#virhe {
    color: red;
	background-color: white;
    padding: 0px 0px 5px 15px;
    font-family: calibri;
	font-weight: bold;
}

#loading {
	background-color: white;
    padding: 0px 0px 5px 15px;
    font-family: calibri;
	font-weight: bold;
}

.resultItem {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    width: 100%;
    background-color: white;
    text-align: left;
}

#menuContainer {
    position: absolute;
    left: 10px;
    top: 1em;
    right: unset;
    z-index: 2000;
    background-color: white;
    padding: 4.5px 3.5px 5px 3.5px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#toggleView {
    position: absolute;
    right: 10px;
    top: 1rem;
    left: unset;
    z-index: 1000;
    background-color: white;
    padding: 4pt;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#locateUser {
    z-index: 1000;
    position: absolute;
    left: 10px;
    bottom: 10px;
    top: unset;
    right: unset;
    z-index: 1000;
    background-color: white;
    padding: 3pt 3pt 3pt 3pt;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

#menuButton {
    background-color: white;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    width: 33px;
    height: 30.5px;
}

#removeMarkersButton {
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #df1200;
    color: white;
    font-weight: normal;
    font-family: calibri;
    font-size: inherit;
    height: 23px;
    z-index: 998;
    background-clip: padding-box;
    cursor: pointer;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 13px;
    overflow: hidden;
    width: -webkit-fill-available;
    padding: 0;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.collapsible {
  background: white;
  cursor: pointer;
  width: 100%;
  height: 22px;
  border: none;
  outline: none;
  display: none;
  margin-top: 0px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5) !important;
}

.collapsible.active {
  background: white;
  cursor: pointer;
  width: 100%;
  height: 22px;
  border: none;
  outline: none;
  display: none;
  margin-top: 0px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5) !important;
}

.collapsible:hover {
  background-color: white;
}

.collapsible:after {
  content: '\25B2';
  font-size: 13px;
  color: black;
}

.active:after {
  content: '\25BC';
}

.content {
  display: block;
  overflow: hidden;
}

.resultbox {
  display: flex;
  flex-direction: column-reverse;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Calibri', sans-serif !important;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, .tooltip-gm, .tooltip-satellite, .collapsible, #passwordInput, #passwordButton, button, textarea, select {
    font-family: 'Calibri', sans-serif !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: unset;
}

a {
    text-decoration: none;
    color: none;
}

button {
	-webkit-tap-highlight-color: transparent;
	font-family: calibri;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
}
